/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 0 0 15px;
    padding: 20px;
    background-color: #202124;
    color: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table, th, td {
    border: 0px solid #f4f4f4;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f6f6f6;
}

h1 {
    text-align: center;
}

h2 {
    color: #F73934;
    margin-bottom: 5px;
}

p {
    margin: 0;
    max-width: 70vw;
}

ol {
    margin-bottom: 15px;
    padding-left: 20px;
}

/* Additional styles for specific elements */

h3 {
    margin: 15px 0 5px 0;
}

h4 {
    margin-bottom: 0;
    font-style: italic;
}

table {
    margin: 10px 0 15px 0;
    max-width: 60vw;
}

th:first-child, td:first-child {
    font-weight: bold;
}

th {
    background-color: #F73934;
    color: #f4f4f4;
}

th, td {
    border: 0px solid #F73934;
}

th.num, td.num {
    text-align: right;
}

tbody tr:nth-child(even) {
    background-color: #333;
}

ul {
    margin-top: 0;
}

.italic {
    font-style: italic;
}

.exception {
    font-style: italic;
    margin: 0 0 0 20px;
}

/* Responsive styles */

@media screen and (max-width: 800px) {
    p {
        max-width: 85vw;
    }
}

@media screen and (max-width: 600px) {
    table {
        overflow-x: auto;
        display: block;
        max-width: 100vw;
    }
}
